/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: rgb(2,140,115); /* Azul fuerte para el fondo del encabezado */
    color: white; /* Texto blanco */
    padding: 20px;
    text-align: center;
    height: 50px;
}

/* Enlaces de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white; /* Texto de los enlaces en blanco */
    text-decoration: none;
    font-weight: bold;
    background-color: #007bff; /* Fondo azul en los enlaces */
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3; /* Azul más oscuro cuando se pasa el mouse */

}
nav ul li{
    display:inline-flex;
}
nav.inicio{
    background-color: rgb(2,140,115); /* Azul fuerte para el fondo del encabezado */
    color: white; /* Texto blanco */
    padding: 20px;
    text-align: center;
}

/* Estilos del título */
h1 {
    color: white; /* Color del título en blanco */
    font-size: 2.5em;
}

h2, h3 {
    color: #007bff; /* Azul fuerte para los títulos */
}

/* Contenido principal */
main {
    padding: 10px;
    text-align: center;
    overflow: auto;
}
main form{
    border: solid lightgray;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    max-width: 300x;
}
/* Estilos de las secciones de destinos */
.introduccion {
    /*display: flex; */
    justify-content: space-around;
    margin-top: 20px;
    text-align: left;
}



/* Pie de página */
footer {
    background-color:rgb(2,140,115); /* Azul oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.inicioprincipal{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}
.contenido{
    flex:3;
}
.inicioanuncios{
    flex:1;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
p{
    text-align: justify;
}
